
.MainContentVid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 0.5fr));
    overflow-y: scroll;
    padding: 10px; 
}

@media (max-width: 520px) {
    .MainContentVid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding: 0px;
        margin: 0px;
    }
    

    .MainContent{
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    .ContentVidextended{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding: 0px;
        margin: 0px;
        
    }

}

.postContainer{
    background-color: #2e2e2e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0; 
    border-radius: 10px;
    height: auto;
    cursor: pointer;
    margin: 0px 5px 0 5px ;
    overflow: hidden;
}
.clicked{
   grid-row : 2/3; 
   
}
.other{
    grid-row: 1/3;

   
}
.column{
    overflow: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
        display: flex;
    flex-direction: column;
    gap: 10px;
    
   
}
.MainContentVid .column div img {
  width: 100%;

  border-radius: 10px;
  object-fit: cover;
}


.loadingAniamtion{
    position: absolute;
    left: 45%;
    width: 20%;
    height: 65px;;
}
.MainContentVidextended{

    width: 100%;
   
    position: relative;
    display: grid ;
    grid-template-columns: repeat(auto-fit, minmax(220px, 0.5fr));
    grid-template-rows: 400px  auto ;
    overflow-y: scroll;

}
.extendedPostContainer{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    grid-column: span 2 ;
}

.extendedPost{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.extendedPost img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

