.SearchDrop{
    position: absolute;
   
    z-index: 10;
    background-color: white;
    width: 95%;
    height: 70vh;
    overflow: scroll;

    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    will-change: animation;
    animation: drop 0.5s ease forwards;

}

.SearchDrop div div {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px , 1fr)) ;
    gap: 10px;
    min-height: 64px;

}
.SearchDrop div div div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 244, 244);
    border-radius: 5px;
    cursor: pointer;
}
p{
    font-weight: 600;
    font-size: larger;
}
@keyframes drop {
    from{
        height: 0;
    }
    to{
        height: 70vh;
    }
}